<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD data user</title>
</head>
<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .bnt-edit {
        background-color: rgb(88, 223, 97);
        outline: none;
        border: none;
        width: 60px;
        height: 25px;
        border-radius: 3px;
        cursor: pointer;
    }

    .bnt-delete {
        background-color: orange;
        outline: none;
        border: none;
        width: 60px;
        height: 25px;
        border-radius: 3px;
        cursor: pointer;
    }
</style>

<body>
    <h1>hoang tan dung</h1>
    <table style="width:100%">
        <tr>
            <th>EMAIL</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>ADDRESS</th>
            <th>ACTION</th>
        </tr>
        <% for(let i=0; i < datatable.length; i++) { %>
            <tr>
                <td>
                    <%= datatable[i].email %>
                </td>
                <td>
                    <%= datatable[i].firstName %>
                </td>
                <td>
                    <%= datatable[i].lastName %>
                </td>
                <td>
                    <%= datatable[i].address %>
                </td>
                <td>
                    <a href="/edit-crud?id=<%= datatable[i].id %>" class="bnt-edit">EDIT</a>
                    <a href="/delete-crud?id=<%= datatable[i].id %>" class="bnt-delete">DELETE</a>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>